body{
    background-color: #d7f5d7;
}
.title{
    font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
    background-color: #f0f0f0;
}
.main{
    font-family: "uddigikyokasho-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: #f0f0f0;
}
p{
    margin: 1em;
}
div{
    margin: 1em;
    margin-bottom: 3em;
}
img{
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
.art{
    margin-left: 0;
    margin-right: 0;
}
#link{
    font-size: 1.3em;
    background-color: #d9d8d8;
}
ul{
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 0;
}
.cap{
    background-color: #aaaaaa;
    margin-left: 0;
    margin-right: 0;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 1.7em;
    background-color: #ecf1c9;
    padding-left: 1em;
}
h4{
    font-size: 1.5em;
    background-color: #e4d6a7;
    padding-left: 1.5em;
}
.capc{
    margin: 0;
}
#last{
    font-size: 0.5em;
    color: #aaaaaa;
    font-style: italic;
}

@media screen and (max-width:640px) {
    .main{
        margin-left: 0em;
        margin-right: 0em;
    }
    
}
@media screen and (min-width:1000px) {
    body{
        width: 1000px;
        margin: auto;
    }
    
}