body{
    background-color: #d7f5d7;
}
.title{
    font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
    background-color: #f0f0f0;
}
.main{
    font-family: "uddigikyokasho-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    background-color: #e0f0f0;
}
p{
    margin: 1em;
}
div{
    margin: 1em;
    margin-bottom: 3em;
}
img{
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
#link{
    font-size: 1.3em;
    background-color: #d9d8d8;
}
.cap{
    background-color: #e9e9e9;
    margin-left: 0;
    margin-right: 0;
}
h3{
    font-size: 1.7em;
    background-color: #ecf1c9;
}
h4{
    font-size: 1.5em;
    background-color: #e4e3bf;
    padding-left: 0.5em;
}
.capc{
    margin: 0;
}

@media screen and (max-width:640px) {
    .main{
        margin-left: 0em;
        margin-right: 0em;
    }
    
}